body{
    background: chartreuse;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    height: 600px;
    width: 600px;
    background: #a0e;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.titulo{
    margin: 30px;
    font-size: 40px;
    color: #ee0;
}

.parrafo{
    font-size: 20px;
    color: #0ae;
    margin-bottom: 10px;
}